.title {
    position: relative;
    color: #0b1f41;
    &::after {
        position: absolute;
                    width: 35px;
                    height: 0;
                    border-bottom: 3px solid red;
                    content: '';
                    bottom: -8px;
                    left: 0;
    }
}

.mobile-bar {
    padding-top: 5px;
    span {
        display: block;
        width: 30px;
        border-bottom: 2px solid #0b1f41;;
        &:nth-child(2) {
            margin-top: 8px;
            width: 25px;
        }
        &:nth-child(3) {
            margin-top: 8px;
            width: 20px;
        }
    }

}