.login {
    text-align: center;

    .profile {
        margin-top: 100px;
    }
    h4 {
        span {
            img {
                width: 30px;
                height: auto;
                margin-right: 0.75rem;
            }
        }
    }
    &-form {
        margin-top: 200px;
        button {
            color: black;
            outline: none;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            transition: 0.3s;
            img {
                width: 30px;
                height: auto;
                margin-right: 0.75rem;
            }
            background-image: linear-gradient(315deg, #f8edef 0%, #e1e9f5 74%);
            &:hover {
                background-image: linear-gradient(315deg, #e1e9f5 0%, #f8edef 74%);
            }
        }
        .fb {
            background-image: linear-gradient(315deg, #498dfa 0%, #09c6f9 74%);
            img {
                transform: scale(1.2);
            }
            &:hover {
                background-image: linear-gradient(315deg, #09c6f9 0%, #498dfa 74%);
            }
            color: white;
        }
    }
    .avt-wrapper {
        position: relative;
        display: inline-block;
        .provider {
            width: 40px;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: white;
            border-radius: 50%;
            padding: 0.5rem;
            img {
                width: 100%;
                height: auto;
                
            }
        }
       
    }
    .avt {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        @media (max-width: 576px) {
            width: 100px;
            height: 100px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sign-out {
        button {
            outline: none;
            border: none;
            background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
            color: rgb(255, 255, 255);
            font-weight: 500;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            transition: 0.3s;
            &:hover {
                background-image: linear-gradient(315deg, #fe547c 0%, #fc8a67 100%);
            }
        }
    }
}
