
.login {
    text-align: center;
    &-form {
        margin-top: 200px;
    }
    .profile {
        margin-top: 100px;
    }
    button {
        background-image: linear-gradient(315deg, #4182ea 0%, #0595e8 74%);
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        transition: 0.3s;
        color: white;
        i {
            font-size: 1.5rem;
        }
        &:hover {
            background-image: linear-gradient(315deg, #0595e8 0%, #4182ea 74%);
        }
    }
    .avt {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        @media (max-width : 576px) {
            width: 100px;
            height: 100px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sign-out {
        button {
            background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
            color: rgb(255, 255, 255);
            font-weight: 500;
            transition: 0.3s;
            &:hover {
                background-image: linear-gradient(315deg, #fe547c  0%,  #fc8a67 100%);
            }
        }
    }
   
}

